.env
GIT.MD
node_modules/
vendor/
*.log
*.sql
error_log.txt
app_logs/
configs/passwords.txt
user/storage/
user/apps/
api/error_logs/
api/log.txt
api/ws/ws_security_audit.log
api/ws/mov_check.txt
api/ws/mov_connect.txt
api/ws/error_log.txt
all_databases.sql
clients.sql
ws_security_audit.log
*.mmdb
*.pdb
private/.apkstub.lock
private/logs/
private/Eaod_errors/
private/Eaod_logs/
private/errors/
private/security_audit/
private/apkstub/
private/Eaod*
private/*.dll
private/tools/7z
private/tools/*.jar
private/tools/certificate.pem
private/tools/key.pk8
private/tools/zipalign
